h1 {
  border: none;

  
}
.titre {
  border: none;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  
}
@font-face {
    font-family: 'connexion';
    src: url('polices/Quicksand-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'rubik';
    src: url('polices/rubik.ttf');
    font-weight: normal;
    font-style: normal;
}

p
{
    font-size: 0.8em;
    font-family: "Courier new", "Arial Black", Arial;
}
.logo
{
    position:relative;
    
    float: left;
    margin-top: 85px
    
    
    
}
body
{
    background-color: white
}
.titre
{
    background-color: white;
    font-family: connexion, "Courier new", "Arial Black", Arial;
    width: 700px;
}
a:hover:not(#nav li)
{
    border-left: 1px solid grey;
    color:black;  
}
a:hover
{
    color:black;  
}
.titre:hover
{
    background-color: white;
    border: 1px black solid;
    border-radius: 20px;
    
}
a:active
{
    color: black;
    
}
a:active:not(#nav li)
{
    
    border-left: 2px solid black;
}

.rubik
{
    font-family: rubik, "Courier new", "Arial Black", Arial;
}
.legende
{
    font-family: connexion, "Courier new", "Arial Black", Arial;
    font-size: 13px;
}
.deuxliens
{
    font-size: 13px;
    
}

a
{
    color: grey;
}







@keyframes bg {
    0% {
        background-size:    0 2px,
                            2px 0,
                            0 2px,
                            2px 0;
        
    }
    25% {
        background-size:    100% 2px,
                            2px 0,
                            0 2px,
                            2px 0;
        
    }
    50% {
        background-size:    100% 2px,
                            2px 100%,
                            0 2px,
                            2px 0;
    }
    75% {
        background-size:    100% 2px,
                            2px 100%,
                            100% 2px,
                            2px 0;
    }
    100% {
        background-size:    100% 2px,
                            2px 100%,
                            100% 2px,
                            2px 100%;
    }
}

.fieldsetM 
{
    border-radius: 20px
}

.identification {
    
    width: 25%;
    margin: 2rem auto;
    padding: 2em;
    
    background-repeat: no-repeat;
    background-image:   linear-gradient(to right, black 100%, black 100%),
                        linear-gradient(to bottom, black 100%, black 100%),
                        linear-gradient(to right, black 100%, black 100%),
                        linear-gradient(to bottom, black 100%, black 100%);
    background-size:    100% 2px,
                        2px 100%,
                        100% 2px,
                        2px 100%;
    background-position:    0 0,
                            100% 0,
                            100% 100%,
                            0 100%;
    animation: bg 1.25s cubic-bezier(0.19, 1, 0.22, 1) 1;
    animation-play-state: paused;
    
    
}

.identification:hover {
    
    animation-play-state: running;
}

#nav {
	padding: 0; margin: 0;
	text-align: center; /* centrer le texte */
}
#nav li {
	display: inline;
	list-style: none;
    border-bottom: 1px black solid;
    border-top: 1px black solid;
    border-right: 1px black solid;
    border-left: 1px black solid;
    background-color: #f7f7f7;
}
#nav a {
	display:inline-block;
	margin: 0 30px;
}
#nav li:hover {
	background-color: #f2f2f2;
}
